body {
    margin: 0;
    font-family: garamond;
    background-color: rgb(197, 205, 255);
}

.form-title {
    color: rgb(255, 255, 255);
}

#address-header {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 170px;
    right: 50px;
    font-size: 48px;
    font-weight: bold;
}

.add-unit-form {
    padding: 0 0 10px;
}

.unit-form-title {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 5px 20px 0;
}

.unit-form {
    display: inline;
    color: rgb(255, 255, 255);
    padding: 0 5px 0 20px;
    font-size: 16px;
}
  
#unit-collection {
    margin: 2.5rem;
    background: rgb(102, 106, 131);
    height: auto;
    opacity: 0.8;
    display: flex;
}
  
.units {
    border: rgb(155, 157, 165) solid 5px;
    border-right: 0;
    flex: 0 0 73%;
}
  
.unit-info {
    flex: 1;
    border: rgb(155, 157, 165) solid 5px;
    background: rgb(226, 230, 255);
}

#unit-info-title {
    text-align: center;
}

#input-unit-info {
    height: 1rem;
    font-size: 12px;
    font-family: garamond;
    margin: 3px;
}

#unit-info-name {
    margin: 10px;
}

.package-header {
    margin: 45px 15px 15px;
    font-size: 16px;
    font-weight: bold;
}

.packages-unclaimed {
    list-style: none;
    padding: 0;
}

.packages-claimed {
    list-style: none;
    padding: 0;
    color: rgb(175, 175, 175);
}

.package {
    font-size: 14px;
    margin: 15px;
}
 
.unit-floor {
    border: rgb(155, 157, 165) solid 1px;
    padding: 1rem;
    margin: 1rem;
    background: rgb(61, 63, 70);
    box-shadow: 3px 3px rgb(58, 58, 58);
    font-size: 15px;
}

.floor-label {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(58, 58, 58);
    margin: 5px 0;
}

.unit {
    margin: 0 5px 0 0;
    padding: 8px 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 8, 8);
}

.container {
    border-width: 20px;  
    border-bottom: solid;
    border-color: rgb(155, 157, 165);
    padding: 1.5rem;
    height: auto;
    background: rgb(61, 63, 70);
    opacity: .8;
}
  
.add-package-form {
    width: 50%
}
  
.submit {
    position: relative;
    height: 1.5rem;
    width: max-content;
    font-size: 12px;
    justify-self: center;
    font-family: garamond;
    margin: 3px;
    box-shadow: 3px 3px rgb(58, 58, 58);
}
  
.input-text {
    height: 1rem;
    width: 7rem;
    font-size: 12px;
    font-family: garamond;
    margin: 3px;
}

#error-message {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 240px;
    left: 2.5rem;
}