body {
    margin: 0;
    font-family: arial;
    background-color: rgb(197, 205, 255);
}

.form-title {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(58, 58, 58);
}
  
#unit-collection {
    margin: 1.5rem;
    background: rgb(102, 106, 131);
    height: auto;
    opacity: 0.8;
    display: flex;
}
  
.units {
    border: rgb(155, 157, 165) solid 5px;
    border-right: 0;
    flex: 0 0 73%;
}
  
.unit-info {
    flex: 1;
    border: rgb(155, 157, 165) solid 5px;
    background: rgb(105, 38, 38);
}
 
.unit-floor {
    border: rgb(155, 157, 165) solid 1px;
    padding: 1rem;
    margin: 1rem;
    background: rgb(61, 63, 70);
    box-shadow: 3px 3px rgb(58, 58, 58)
}

.floor-label {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(58, 58, 58);
    margin: 5px 0;
}
  
/* button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
}

button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
} */

.container {
    border-width: 20px;  
    border-bottom: solid;
    border-color: rgb(155, 157, 165);
    padding: 1.5rem;
    height: auto;
    background: rgb(102, 106, 131);
    opacity: .8;
}
  
.add-package-form {
    width: 100%
}
  
.submit {
    position: relative;
    height: 1.5rem;
    width: max-content;
    font-size: 12px;
    justify-self: center;
    font-family: arial;
    margin: 3px;
    box-shadow: 3px 3px rgb(58, 58, 58);
}
  
.submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
}
  
  
.input-text {
    height: 1rem;
    width: 20%;
    font-size: 12px;
    font-family: arial;
    margin: 3px;
    box-shadow: 3px 3px rgb(58, 58, 58);
}
  